body {
	font-family: 'Roboto', sans-serif;
}

main {
	padding-top: 38px !important;
}

#navi {
	max-width: 1200px;
	margin: 0 auto;
}

#navi a {
	text-decoration: none;
}

#sidebar {
	width: 18em;
}

.w3-container {
	max-width: 1200px;
	margin: 0 auto;
}

.ui-menu {
	max-height: 20em;
	overflow: auto;
}

.vb-profilepic {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	margin: 0 auto;
}

.vb-profilepic.vb-tiny {
	width : 75px;
	height: 75px;
}

.vb-profilepic.vb-large {
	width : 175px;
	height: 175px;
}
